/* Listado de 'índice' para 'más proveedores' */

ul.index_list
	li
		margin-bottom: $bottom_margins
		div
			float: left
		div:first-child
			text-align: center
			a
				display: block
				width: 36px
				height: 36px
				border-radius: 50%
				background-color: $green
				color: $white
				padding-top: .4em
		div:last-child
			p
				margin-bottom: 0
				padding-left: 1em
			&:hover
				color: $blue

/* Títulos centrados de secciones verticales */

.center_titles
	>h2, >h3
		text-align: center
.centered_section
	text-align: center
	&.thin_section
		@include span(8 at 3 of 12 isolate)

/* Botones redes sociales */

.share_btns
	margin-bottom: $bottom_margins
	li
		display: inline-block
		width: 11em
		margin-right: 1em
		text-align: left
	a
		@extend .asap
		display: block
		background-color: #395799
		color: $white
		padding: 0.7em
		&.btn_instagram
			background-color: #1fa8e3
		&.btn_pinterest
			background-color: #ce1e1f
		&:hover
			opacity: 0.8
		span
			@extend .font_awesome
			padding: 0 1em 0 0.5em



/* Portadas para secciones informativas */

.image_cover
	height: 80vh
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	text-align: center
	position: relative
	.cover_text
		position: absolute
		display: table
		height: 100%
		@include span(8 at 3 of 12 isolate)
		h1
			display: table-cell
			vertical-align: middle
			text-align: center
