/* Listado de 'índice' para 'más proveedores' */

ul.index_list
	li
		margin-bottom: $bottom_margins
		div
			float: left
		div:first-child
			text-align: center
			a
				display: block
				width: 36px
				height: 36px
				border-radius: 50%
				background-color: $green
				color: $white
				padding-top: .4em
		div:last-child
			p
				margin-bottom: 0
				padding-left: 1em
			&:hover
				color: $blue

/* Títulos centrados de secciones verticales */

.center_titles
	>h2, >h3
		text-align: center
