/* Combo Cuerpo-Sidebar en algunas secciones */

.body_sidebar_combo
	.combo_body
		@include span(9 of 12)
		padding: 0
	.combo_sidebar
		@include span(3 of 12 last)
		padding: 2em 0 0 2em
		.sidebar_list
			margin-bottom: $bottom_margins_grid

/* Secciones con fondos de color */

.white_bg
	background-color: $white
.gray_bg
	background-color: $gray_light

/* Home */

.home_mag
	color: white
	.home_mag_slider
		@include span(8 of 12)
		height: 28em
		position: relative
	.home_newsletter
		@include span(3 of 12 last)
		height: 28em
		background-color: $green_dark
		padding: 1em
		color: white
		input[type=submit]
			background-color: $green_darkest
			width: 100%

.home_mag_slider_slide
	padding: 3em
	height: 100%
	.bottom_text
		width: span(4 of 12)
		position: absolute
		bottom: 0

#home #social_media
	margin-bottom: 0

/* Acerca */

ul.about_pitch
	margin: $bottom_margins_grid 0
	li
		width: 20em
		height: 20em
		border-radius: 50%
		background-repeat: no-repeat
		background-size: cover
		background-position: center

ul.logo_container
	li
		width: 10%
		height: auto
		display: table-cell
		vertical-align: middle
		padding: 0 1em
		img
			width: 100%

/* Proveedores */

.prov_list_main
	li a > div
		width: 100%
		height: 35%
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		margin-bottom:  $bottom_margins



/* Listado de 'índice' para 'más proveedores' */

ul.index_list, ul.thumbs_list
	li
		margin-bottom: $bottom_margins
		overflow: auto
		div
			float: left
		div:first-child
			text-align: center
			a
				display: block
				width: 36px
				height: 36px
				border-radius: 50%
				background-color: $green
				color: $white
				padding-top: .4em
		div:last-child
			p
				margin-bottom: 0
				padding-left: 1em
			&:hover
				color: $blue
ul.thumbs_list li
	div:first-child
		width: 80px
		height: 80px
		a
			background-color: transparent
			width: auto
			display: inline
		img
			width: 100%
			border-radius: 50%
	div:last-child
		padding-top: 1em

/* Proveedores Vista Individual + Vista Producto*/

.prov_single
	.image_cover
		height: 60vh
		.cover_text
			color: $white
			h1
				margin-bottom: -.3em

.prov_info
	>div
		background-color: $white
		margin-bottom: $bottom_margins_grid
		@include bleed(0 1em)
		padding-top: 1em
		padding-bottom: 1em
		&:first-child
			padding-top: 2.5em
		&:last-child
			margin-bottom: 0
	.prov_main_info
		@extend .pink_links
		.prov_main_info_profile
			div:first-child
				@include span(5 of 9)
			div:last-child
				@include span(4 of 9 last)
				img
					width: 100%
					margin-bottom: $bottom_margins
		.prov_main_contact
			>div
				@include gallery(3 of 9)
.prov_content_related
	div:first-child
		@include span(5 of 9)
		img
			width: 100%
	div:last-child
		@include span(4 of 9 last)

.prov_products_slim
	li
		@include gallery(3 of 9)

// Ficha de producto:

.prod_single
	.combo_sidebar
		padding: 0 0 0 2em

.product_slider
	@include bleed(0 1em)
	.product_slide
		padding-bottom: 1em
		position: relative
		.product_pictures
			@include span(8 of 12 first)
			.feat_picture
				@include span(7 of 8 first)
				img
					width: 100%
					@include bleed(0 1em)
			.product_thumbs
				@include span(1 of 8 last)
				ul li
					display: inline-block
					margin: 0 0 1em 0
					a
						border: 2px solid $border-color
						display: block
						img
							width: 100%
						&:hover
							border-color: $blue
		.product_description
			@include span(4 of 12 last)
			p
				@extend .asap
			p:first-child
				margin: 0


// Flechas reutilizabes en varios sliders:
// Single Producto, Home Mag Feat, Caso de Estudio en Servicios
.prod_nav
	a
		position: absolute
		top: 40%
		background-color: $gray_dark
		color: $white
		font-size: 3em
		line-height: 50%
		padding: .4em .5em
		border-radius: 1em
		text-align: center
		opacity: .6
		&:hover
			opacity: 1
		&.prod_left
			left: -.7em
			span
				right: .05em
				top: .05em
				position: relative
		&.prod_right
			right: -.7em
			span
				left: .05em
				top: .05em
				position: relative


.slider_title
	padding-top: 1em
	h2
		margin-bottom: .2em
	p
		margin-bottom: -0.5em
		margin-left: 4em
	img
		float: left


.more_from_prov
	background-color: $white
	margin-bottom: $bottom_margins_grid
	@include bleed(0 1em)
	padding-top: 1em
	padding-bottom: 1em


/* Títulos centrados de secciones verticales */

.center_titles
	>h1, >h2, >h3, >h4
		text-align: center
.centered_section
	text-align: center
.thin_section
	@include span(8 at 3 of 12 isolate)

/* Botones redes sociales */

.share_btns
	margin-bottom: $bottom_margins
	li
		display: inline-block
		width: 11em
		margin-right: 1em
		text-align: left
	a
		@extend .asap
		display: block
		background-color: #395799
		color: $white
		padding: 0.7em
		&.btn_instagram
			background-color: #1fa8e3
		&.btn_pinterest
			background-color: #ce1e1f
		&:hover
			opacity: 0.8
		span
			@extend .font_awesome
			padding: 0 1em 0 0.5em
.product_description .share_btns
	position: absolute
	bottom: 0
	padding: 0
	li
		width: 4em
		text-align: center
		a span
			padding: 0


/* Portadas para secciones informativas */

.image_cover, .image_cover_light
	height: 80vh
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	text-align: center
	position: relative
	.cover_text
		position: absolute
		display: table
		height: 100%
		@include span(8 at 3 of 12 isolate)
		>h1, > div
			display: table-cell
			vertical-align: middle
			text-align: center

.image_cover:before
	content: ''
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-image: linear-gradient(to bottom right,#1a1a1a,#2a2a2a)
	opacity: .5


/* Services */

.services_slider
	.s_slide
		@extend .group
		width: span(10)
		background-color: $white
		div:first-child
			@include span(5 of 10)
		div:last-child
			@include span(5 of 10 last)
		.description
			padding: 2em

.pricing_table
	> div
		@include gallery(4 of 12 0)
		color: $white
		padding: 2em
	ul li
		padding: .7em 0
		border-bottom: 1px solid #3397a3
		&:last-child
			border-bottom: none
	.base
		background-color: #3aa1b0
		.feat_off
			color: #31919e
	.premium
		background-color: #298895
		.feat_off
			color: #2c7983
		ul li
			border-color: #2a7a85
	.platino
		background-color: #2f757d
		.feat_off
			color: #186179
		ul li
			border-color: #2c6870

/* Login */

.login_welcome
	@include span(4 at 2 of 12 isolate)
	img
		width: 100%

.login_form_area
	@include span(4 at 8 of 12 isolate)
	padding: 1em 2em

.login_cta
	border-top: 1px solid $border_color
	padding-top: 2em
	margin-top: 2em
